# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea/artifacts/DataSync_war.xml
.idea/libraries/Maven__org_apache_activemq_activemq_all_5_14_1.xml
.idea/libraries/Maven__org_mongodb_mongo_java_driver_2_13_0.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_12.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_1_10_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_mongodb_1_7_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jms_4_1_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_messaging_4_1_7_RELEASE.xml
src/main/java/com/xujinxin/datasync/controller/MongodbController.java
src/main/java/com/xujinxin/datasync/dao/
src/main/java/com/xujinxin/datasync/util/Pager.java
src/main/resources/properties/mongodb.properties
src/main/resources/spring/spring-mongodb.xml
src/main/webapp/resource/
target/apache-tomcat-maven-plugin/
target/classes/com/xujinxin/datasync/controller/MongodbController.class
target/classes/com/xujinxin/datasync/dao/mongodb/
target/classes/com/xujinxin/datasync/dao/mybatis/
target/classes/com/xujinxin/datasync/util/Pager.class
target/classes/com/xujinxin/datasync/util/activemq/
target/classes/properties/activemq.properties
target/classes/properties/mongodb.properties
target/classes/spring/spring-activemq.xml
target/classes/spring/spring-mongodb.xml
target/generated-sources/
target/tomcat/logs/access_log.2016-10-19
target/tomcat/webapps/
target/tomcat/work/
